@model csharp_exercises_201907_CheeseMVC_Class12_EntityFramework.ViewModels.EditCheeseViewModel

<h1>Edit Cheese</h1>

<form method="post">

    <input type="hidden" value="@Model.CheeseId" name="id" />

    <div class="form-group">
        <label asp-for="Name"></label>
        <input class="form-control" asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>

    <div class="form-group">
        <label asp-for="Description"></label>
        <input class="form-control" asp-for="Description" />
        <span asp-validation-for="Description"></span>
    </div>

    <div class="form-group">
        <label asp-for="Categories"></label>
        <select asp-for="Categories" asp-items="Model.Categories"></select>
        <span asp-validation-for="Categories"></span>
    </div>

    <div class="form-group">
        <label asp-for="Rating"></label>
        <input class="form-control" asp-for="Rating" />
        <span asp-validation-for="Rating"></span>
    </div>

    <input type="submit" value="Update Cheese" />

</form>